<p>
  Zakładka "Zakres cen znakowania"
</p>

<table class="table table-striped">
  <thead>
    <tr >
      <th scope="col">Id</th>
      <th scope="col">Ilość</th>
      <th scope="col">Mnożnik</th>
      <th scope="col">Max wysokość cm</th>
      <th scope="col">Max szerokość cm</th>
      <th scope="col">Cena minimalna</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let markRange of markRanges">
      <th scope="row">{{ markRange.id }}</th>
      <td>{{ markRange.quantity }}</td>
      <td>{{ markRange.rangeMultiplier }}</td>
      <td>{{ markRange.maxWidth }}</td>
      <td>{{ markRange.maxHeight }}</td>
      <td>{{ markRange.mnimalPrice }}</td>
      
    </tr>
  </tbody>
</table>