<div class="container text-center mt-4">
  <h1>Folia flex</h1>
  <hr>
  <div class="row">

    <div class="container text-center mb-4">
      <div class="row">
        <div class="col-md-6 text-center">
          <h2 class="py-2">Czym jest znakowanie folią flex?</h2>
          <p>Znakowanie folią flex polega na wycięciu z winylowej, elastycznej folii grafiki, 
            a następnie wgrzanie jej w wysokiej temperaturze i przy odpowiednim nacisku w materiał.
            Znakowanie tą metodą nadaje się do nadrukowanie na odzież prostych kształtów, nieskomplikowanej grafiki np. logo.
            Folia flex cechuje się wysoką elastycznością co doskonale sprawdza się przy znakowaniu strojów sportowych.</p>
        </div>
        <div class="col-md-6">
          <form name= "countingForm" class="form-inline mt-4 md-0" (ngSubmit)="count()" #f="ngForm">
            <table class="table table-striped">
              <tbody>
                <!-- <tr>
        <td>Nazwa</td>
        <td> <input class="form-control mr-sm-2" type="text" placeholder="Nazwa" [(ngModel)]="model.name" name="name" required></td>
      </tr> -->
                <tr>
                  <td>Ilość kolorów</td>
                  <td>
                    <!-- <input class="form-control mr-sm-2" type="number" placeholder="Ilość kolorów" 
          [(ngModel)]="model.colorQuantity" name="colors" min="1" max="4"
          
          required style = "width: 200px;"> -->
                    <select class="form-control mr-sm-2" style="width: 200px;" [(ngModel)]="model.colorQuantity" 
                      name="colorQuantity" #colorQuantity=ngModel>
                      
                      <option *ngFor="let test of tests" [ngValue]="test.id" placeholder="Ilość kolorów"
                    >{{test.text}}</option>
                    </select>


                  </td>
                </tr>
                <tr>
                  <td>Wysokość w mm</td>
                  <td>
                    <input class="form-control mr-sm-2" type="number" placeholder="Wysokość w mm"
                      [(ngModel)]="model.height" name="height" #height = ngModel
                      min="5" max="290" required style="width: 200px;">
                  </td>
                </tr>
                <tr>
                  <td>Szerokość w mm</td>
                  <td>
                    <input class="form-control mr-sm-2" type="number" placeholder="Szerokość w mm"
                      [(ngModel)]="model.width" #width = ngModel
                      name="width" min="5" max="200" required style="width: 200px;">
                  </td>
                </tr>
                <tr>
                  <td>Ilość</td>
                  <td>
                    <input class="form-control mr-sm-2" type="number" placeholder="Ilość" [(ngModel)]="model.quantity"
                      name="quantity" min="1" required #quantity = ngModel>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row w-100">
              <div class="col">
                <div class="d-flex align-items-end justify-content-end">
                  <h4 class="mt-4"
                  
                  >Cena netto: {{count$ | async }} zł</h4>
                </div>
                <div class="d-flex align-items-end justify-content-end">
                  <button class="btn btn-outline-primary m-0" type="submit"
                  [disabled]="height.errors?.required || width.errors?.required || quantity.errors?.required || colorQuantity.errors?.required"   
                  >Oblicz</button>
                </div>
              </div>
            </div>

          </form> 
        </div>
      </div>
    </div>
  </div>