<div class="container col-10 text-center mt-8 mb-4">
  <h1>
    Cena sprzedaży
  </h1>
  <hr>
  <form #sellingpriceform="ngForm" class="form-inline mt-6" (ngSubmit)="postSellingPrice()">
    <input class="form-control mr-sm-2"  type="text" placeholder="Nazwa znakowania" [(ngModel)]="model.markName"
      name="markName" required>
    <input style="width: 150px;" class="form-control mr-sm-2" type="number" placeholder="Wysokość" [(ngModel)]="model.height" name="height"
      required>
    <input style="width: 150px;" class="form-control mr-sm-2" type="number" placeholder="Szerokość" [(ngModel)]="model.width" name="width"
      required>
    <input style="width: 150px;" class="form-control mr-sm-2" type="number" placeholder="Cena sprzedaży" [(ngModel)]="model.sellingPrice"
      name="quantity" required>
      <input style="width: 150px;" class="form-control mr-sm-2" type="number" placeholder="Cena minimalna" [(ngModel)]="model.minimalPrice"
      name="quantity" required>
    <button class="btn btn-outline-primary" type="submit">Dodaj</button>
  </form>
</div>

<div class="container col-10 text-center mb-4">
  <table class="table table-striped">
    <thead>

      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Max wysokość cm</th>
        <th scope="col">Max szerokość cm</th>
        <th scope="col">Cena sprzedaży</th>
        <th scope="col">Cena minimalna</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sellingPrice of sellingPrices; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ sellingPrice.markName }}</td>
        <td>{{ sellingPrice.width }}</td>
        <td>{{ sellingPrice.height }}</td>
        <td>{{ sellingPrice.sellingPrice }}</td>
        <td>{{ sellingPrice.minimalPrice }}</td>
        <td><button class="btn btn-outline-primary" type="submit" (click)="open(content)">Edytuj</button></td>
        <td><button class="btn btn-outline-danger" type="submit"  (click)="deleteUsers(sellingPrice.id)">Usuń</button></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title" (loadeddata)="">Nazwa Edytowanej Linii</h4> -->

  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <div class="input-group">
          <div class="container">
            <div class="row">
                <p>{{sellingPrices.markName}}</p>
                <p>Maksymalna wysokość</p>
                <input type="number" class="form-control"  id="height">
                <p>Maksymalna szerokość</p>
                <input type="number" class="form-control"  id="width">
                <p>Cena sprzedaży</p>
                <input type="number" class="form-control"  id="sellPrice">
                <p>Cena minimalna</p>
                <input type="number" class="form-control"  id="minPrice">
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>