.mark_image{
    position: relative;
    height: 200px;
    width: 200px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 20px;
}

.submitted .ng-invalid{
    border: 1px solid red;
}

input.ng-invalid.ng-touched {
    border: red 1px solid;
    box-shadow: 0 0 2px 1px red;
}